In [4]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
import sys
!{sys.executable} -m pip install requests
import requests

Requirement already satisfied: requests in c:\users\jweed\anaconda3\envs\info2950\lib\site-packages (2.23.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\jweed\anaconda3\envs\info2950\lib\site-packages (from requests) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\jweed\anaconda3\envs\info2950\lib\site-packages (from requests) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\jweed\anaconda3\envs\info2950\lib\site-packages (from requests) (2019.11.28)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\jweed\anaconda3\envs\info2950\lib\site-packages (from requests) (3.0.4)

In [5]:
#let's load our iMDB dataset using pd.read_csv
api_key = "fef79dcd";
movies = pd.read_csv("imdb.csv")
movies.head()

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,asdf,untitled,Unnamed: 46,Unnamed: 47
0,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,titles01/tt0021749,tt0021749,Lichter der Großstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [6]:
#we can see some movies with strange titles, such as this one, have their titles spill into other fields
movies.iloc[[64]]

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,asdf,untitled,Unnamed: 46,Unnamed: 47
64,titles01/tt0057012,tt0057012,Dr. Seltsam\,oder wie ich lernte\,die Bombe zu lieben (1964),dr seltsam oder wie ich lernte die bombe zu li...,http://www.imdb.com/title/tt0057012/,8.6,263157,5700,...,0,0,0,0,0,0,1.0,0.0,NaN,NaN

In [7]:
#removing all the messed up rows with overflowing titles
movies["imdbRating"][0]
movies_1 = pd.to_numeric(movies["imdbRating"], errors = "coerce")
movies = (movies[movies_1.notnull()])
# print(len(movies))
# print(movies)

In [8]:
#Now that row, and others like it, are deleted
movies.iloc[[64]]

,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,type,...,Short,Sport,TalkShow,Thriller,War,Western,asdf,untitled,Unnamed: 46,Unnamed: 47
65,titles01/tt0057115,tt0057115,Gesprengte Ketten (1963),gesprengte ketten,http://www.imdb.com/title/tt0057115/,8.3,120161,10320,1963,video.movie,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [9]:
rt_ratings = []
box_office = []

In [10]:
#generate the rotten tomatoes scores and box office for the first 1000 movies

for i in range(1000):
    row = movies.iloc[i];
    movie_id = row["tid"];
    response =  requests.get("http://www.omdbapi.com/?i="+movie_id+"&apikey="+api_key+"&");
    r_json = response.json()
    try:
        box_office.append(r_json["BoxOffice"])
    except:
        box_office.append("NaN")
    try:
        rt_ratings.append(r_json["Ratings"][1]["Value"])
    except:
        rt_ratings.append("NaN")

In [11]:
#Let's check out what that did for us
print(len(rt_ratings))
print(rt_ratings)

1000
['100%', '100%', '97%', '93%', '98%', '100%', '98%', '100%', '91%', '85%', '98%', '100%', '93%', '100%', '100%', '100%', '99%', '97%', '96%', '97%', '94%', '98%', '98%', '94%', '100%', '99%', '99%', '98%', '98%', '98%', '96%', '100%', '100%', '98%', '97%', '96%', '89%', '99%', '99%', '100%', '97%', '99%', '98%', '100%', '95%', '95%', '93%', '95%', '100%', '96%', '95%', '86%', '99%', '100%', '95%', '93%', '96%', '96%', '98%', '91%', '95%', '98%', '92%', '98%', '94%', '98%', '99%', '91%', '97%', '90%', '95%', '100%', '86%', '93%', '90%', '95%', '87%', '98%', '94%', '99%', '97%', '97%', '90%', '95%', '98%', '93%', '92%', '94%', '95%', '98%', '92%', '93%', '98%', '98%', '95%', '100%', '92%', '94%', '94%', '85%', '98%', '95%', '90%', '100%', '85%', '84%', '89%', '82%', '93%', '88%', '86%', '100%', '96%', '97%', '97%', '88%', '91%', '96%', '91%', '97%', '93%', '98%', '91%', '94%', '88%', '96%', '94%', '96%', '93%', '92%', '96%', '96%', '94%', '97%', '70%', '93%', '73%', '91%', '90%', '100%', '100%', '77%', '80%', '100%', '86%', '81%', '100%', '90%', '86%', '89%', '93%', '91%', '90%', '82%', '80%', '97%', '99%', '93%', '94%', '83%', '78%', '75%', '91%', '93%', '87%', '78%', '92%', '93%', '95%', '86%', '95%', '87%', '77%', '79%', '96%', '73%', '93%', '88%', '97%', '92%', '87%', '95%', '99%', '85%', '74%', '91%', '79%', '93%', '94%', '87%', '82/100', '89%', '90%', '82%', '84%', '95%', '91%', '94%', '77%', '93%', '91%', 'NaN', '91%', '73%', '98%', '92%', '95%', '94%', '91%', '93%', '75%', '83%', '94%', '92%', '99%', '95%', '85%', '91%', '79%', '91%', '64%', '98%', '68%', '74%', '100%', '96%', '81%', '85%', '93%', '83%', '90%', '87%', '87%', '80%', '76%', '96%', '96%', '95%', '93%', '74%', '95%', '99%', '87%', '88%', '95%', '92%', '80%', '95%', '88%', '89%', '67%', '98%', '95%', '100%', '94%', '89%', '96%', '94%', 'NaN', '89%', '100%', '93%', '69%', '86%', '96%', '69%', '78%', '68%', '88%', '90%', '97%', 'NaN', '100%', '88%', '63%', '85%', '83%', '85%', '72%', '100%', '33%', '98%', '100%', 'NaN', 'NaN', '93%', '96%', '100%', '97%', '83%', 'NaN', 'NaN', '100%', '60%', '43%', '46%', '66%', '79%', 'NaN', 'NaN', '85%', 'NaN', '91%', '95%', '92%', '100%', '29%', '83%', 'NaN', '100%', 'NaN', '96%', '100%', 'NaN', 'NaN', '94%', 'NaN', '91%', '84%', '86%', '90%', '100%', '86%', '100%', '89%', '98%', '97%', '91%', '85%', '92%', '100%', '81%', '93%', '96%', '92%', '79%', '97%', '93%', '100%', '98%', 'NaN', '80%', '86%', '99%', '85%', '88%', '85%', '94%', '96%', '88%', '93%', 'NaN', '95%', '100%', 'NaN', 'NaN', 'NaN', '91%', '98%', '85%', '84%', '91%', '41%', '89%', 'NaN', '93%', '67%', '75%', '86%', '100%', 'NaN', '50%', '64%', '84%', '62%', '67%', '95%', '93%', '77%', '47%', '80%', 'NaN', '88%', '84%', '64%', '70%', '85%', '83%', '100%', '100%', '98%', '96%', '75%', '94%', '74%', '83%', '85%', '81%', '91%', '92%', '83%', 'NaN', 'NaN', '91%', '96%', '71%', '93%', '93%', '92%', '68%', '63%', '33%', '73%', '93%', '76%', '53%', '96%', '55%', '31%', '86%', '74%', '92%', '59%', '53/100', '86%', '74%', '83%', '89%', '83%', '92%', '27%', '85%', '98%', '100%', '68%', 'NaN', '94%', '100%', '70%', '89%', '97%', '94%', '100%', '97%', '92%', '74%', '93%', '92%', '91%', '90%', '82%', '88%', 'NaN', '67/100', '94%', '92%', 'NaN', '90%', '90%', 'NaN', '89%', '100%', '71%', 'NaN', '92%', '68%', '90%', '96%', '75%', '92%', 'NaN', '100%', 'NaN', '60%', '81%', '69%', '64%', '46%', '63%', '36%', '85%', '52%', 'NaN', 'NaN', '100%', '45%', 'NaN', '94%', '89%', '89%', '92%', 'NaN', '90%', '88%', '92%', '92%', '93%', '96%', '95%', '68%', '92%', '93%', '100%', '93%', '96%', '94%', '88%', '98%', '93%', '93%', '94%', '87%', '39%', '93%', '60%', '89%', '75%', '86%', '78%', '95%', '100%', '67%', 'NaN', 'NaN', '80%', '76%', '71%', '92%', '67%', 'NaN', '73%', '91%', 'NaN', 'NaN', '86%', '89%', '80%', '93%', '89%', '92%', '94%', '39%', '61%', '57%', '83%', '100%', '66%', '87%', '64%', 'NaN', '92%', '92%', '40%', '88%', '35%', 'NaN', '57/100', '56%', 'NaN', 'NaN', 'NaN', '88%', '67%', '100%', '91%', '93%', '100%', '82%', '93%', '92%', '90%', '76%', 'NaN', '92%', 'NaN', '86%', '100%', '92%', 'NaN', '100%', '82%', 'NaN', 'NaN', '100%', 'NaN', '100%', 'NaN', '83%', 'NaN', '89%', '91%', '88%', '83%', '88%', '98%', '100%', '100%', '100%', '85%', '100%', '98%', '86%', '97%', '100%', 'NaN', '61%', '80%', '96%', '78%', '97%', '81%', 'NaN', '90%', '87%', '91%', '96%', '85%', '85%', '95%', '88%', '42%', '98%', '90%', '91%', '95%', 'NaN', '81%', '85%', '86%', '90%', '79%', '60%', '89%', 'NaN', 'NaN', '15%', '88%', 'NaN', '81%', '88%', '91%', '72%', '87%', '93%', 'NaN', 'NaN', '87%', '89%', '70%', '100%', '88%', '78%', '72%', '90%', '97%', '37%', '92%', '82%', 'NaN', '89%', '83%', '88%', '92%', '80%', '70%', 'NaN', '42%', '45/100', '87%', '44%', '44%', '74%', '54%', '47%', '75%', '93%', '58%', '14%', 'NaN', '80%', 'NaN', '43%', '96%', '93%', '100%', '96%', '85%', '92%', '88%', 'NaN', '60%', '90%', '75%', '69%', '85%', '83%', '87%', '93%', '51%', '32%', '79%', 'NaN', '89%', '88%', '88%', '88%', '80%', '91%', '93%', '94%', '88%', '93%', '95%', '90%', '84%', '77%', '71%', '38%', '57%', '10%', '29%', '36%', '83%', '52%', '91%', 'NaN', '83%', '86%', '72%', '75%', '67%', '69%', '89%', '59%', '73%', '87%', '56%', '97%', '79%', '53%', '80%', '65%', '51%', '56%', '79%', '52%', '27%', '90%', '75%', '37%', 'NaN', '76%', '97%', '85%', 'NaN', '80%', '100%', '64%', '95%', '67%', '83%', '100%', '18/100', '77%', '75%', '87%', '36%', '98%', '74%', '72%', '97%', '85%', '35%', '76%', '81%', 'NaN', '55%', '87%', '88%', '94%', '88%', '86%', 'NaN', '79%', '98%', '61%', '92%', '98%', '42%', '90%', '90%', '96%', '71%', '91%', '91%', '76%', '57%', '45%', '83%', '82%', '73%', '80%', '37%', '84%', '35%', '29%', '73%', '52%', 'NaN', 'NaN', '80%', '83%', '68%', '82%', '66%', '78%', '72%', '55%', '80%', '83%', '61%', '46%', 'NaN', '88%', '79%', '65%', '83%', '89%', '67%', '82%', '71%', '93%', '71%', 'NaN', '78%', '81%', '91%', 'NaN', '98%', '76%', '91%', '67%', '73%', '100%', '69%', '45%', '86%', '27%', '95%', '51%', '93%', '85%', '78%', '80%', '31%', '80%', '85/100', '42%', '97%', '72%', '98%', '28%', 'NaN', '79%', '88%', '93%', '81%', '73%', '48%', '68%', '69%', '80%', '71%', '90%', '73%', '62%', '84%', 'NaN', '95%', '81%', '71%', 'NaN', '88%', '95%', 'NaN', 'NaN', '35%', '63%', '53%', '71%', '70%', '45%', '93%', 'NaN', '45%', '36%', '95%', '86%', '23%', '24%', '42%', '32%', '27%', '41%', '70%', 'NaN', '86%', '73%', '61%', 'NaN', '50%', '80%', '88%', '57%', '57%', '80%', '88%', '88%', '90%', '70%', '86%', '82%', '62%', '45%', '86%', '82%', '53%', '96%', '78%', '93%', '100%', '82%', '69%', '63%', '41%', '85%', '59%', '55%', '40%', '67%', '37%', 'NaN', '65%', '83%', '45%', '91%', '79%', '89%', '49%', '65%', '86%', '51%', '80%', '75%', '90%', '86%', '80%', '75%', '83%', '67%', '100%', '68%', '50%', '43%', '28%', '84%', 'NaN', '100%', '61%', '96%', '38%', '84%', '88%', '65%', '90%', '50%', '84%', '60%', '86%', '80%', '87%', '80%', '100%', '100%', '42%', '92%', '83/100', 'NaN', '95%', '90%', '90/100', '57%', '90%', '69%', '86/100', '92%', '76%', '72%', '83%', '67%']

In [12]:
#Post-processing the data to get the rotten tomatoes scores in the right format
for i in range(len(rt_ratings)):
    if(rt_ratings[i][-2:] == "00"):
        rt_ratings[i] = int(rt_ratings[i].strip('/100'))
    elif(rt_ratings[i][-1:] == "%"):
        rt_ratings[i] = int(rt_ratings[i].strip('%'))
print(rt_ratings[:5])

[100, 100, 97, 93, 98]

In [13]:
#Now let's take out all of the NaN values and see how much we're left with
movies_final = movies.head(1000)
movies_final.insert(0, "rt_rating", rt_ratings, False)
movies_final_1 = (movies_final[movies_final["rt_rating"] != 'NaN'])

print(len(movies_final_1))
movies_final_1.head(100)

911

,rt_rating,fn,tid,title,wordsInTitle,url,imdbRating,ratingCount,duration,year,...,Short,Sport,TalkShow,Thriller,War,Western,asdf,untitled,Unnamed: 46,Unnamed: 47
0,100,titles01/tt0012349,tt0012349,Der Vagabund und das Kind (1921),der vagabund und das kind,http://www.imdb.com/title/tt0012349/,8.4,40550,3240,1921,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
1,100,titles01/tt0015864,tt0015864,Goldrausch (1925),goldrausch,http://www.imdb.com/title/tt0015864/,8.3,45319,5700,1925,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
2,97,titles01/tt0017136,tt0017136,Metropolis (1927),metropolis,http://www.imdb.com/title/tt0017136/,8.4,81007,9180,1927,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
3,93,titles01/tt0017925,tt0017925,Der General (1926),der general,http://www.imdb.com/title/tt0017925/,8.3,37521,6420,1926,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
4,98,titles01/tt0021749,tt0021749,Lichter der Großstadt (1931),lichter der gro stadt,http://www.imdb.com/title/tt0021749/,8.7,70057,5220,1931,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,100,titles01/tt0079944,tt0079944,Stalker (1979),stalker,http://www.imdb.com/title/tt0079944/,8.2,47589,9780,1979,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
97,92,titles01/tt0080678,tt0080678,Der Elefantenmensch (1980),der elefantenmensch,http://www.imdb.com/title/tt0080678/,8.3,120156,7440,1980,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
98,94,titles01/tt0080684,tt0080684,Das Imperium schlägt zurück (1980),das imperium schl gt zur ck,http://www.imdb.com/title/tt0080684/,8.8,563252,7440,1980,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN
99,94,titles01/tt0081398,tt0081398,Wie ein wilder Stier (1980),wie ein wilder stier,http://www.imdb.com/title/tt0081398/,8.3,172854,7740,1980,...,0,1,0,0,0,0,NaN,NaN,NaN,NaN
100,85,titles01/tt0081505,tt0081505,Shining (1980),shining,http://www.imdb.com/title/tt0081505/,8.5,418163,8640,1980,...,0,0,0,0,0,0,NaN,NaN,NaN,NaN

In [15]:
#Finally, let's export our result to a csv
movies_final_1.to_csv("final_data.csv", index = False, header = True)